html {
    min-height: 100dvh;
    font-family: Helvetica, sans-serif;
}

body {
    max-width: 100%;
    max-height: auto;
    width: 100%;
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    justify-content: left;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 30;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 80px;
    padding-right: 80px;
    max-height: 100%;
    width: 100%;
    min-height: 60px;
    font-size: 16px;
}

.navbarlinks {
    display: flex;
    gap: 50px;
    width: 80%;
}

.links {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.navbarlinks a {
    text-decoration: none;
    color: #121212;
    font-weight: 550;
}

#homeHyper {
    margin-left: 30px;
}

.Sandwichmenu {
    display: none;
    position: relative;
    margin-left: auto;
}

.menuTavtarto {
    display: inline-block;
    width: 40px;
}

.menuDropDown {
    left: 0;
    position: absolute;
    line-height: 30px;
    padding: 30px;
    background-color: white;
    text-align: right;
    border: 1px solid gray;
    border-radius: 5px;
    display: none;
}

.menuDropDown a {
    padding-top: 180px;
}

.Sandwichmenu:hover .menuDropDown {
    display: block;
}

section {
    border: none;
}

.container {
    display: flex;
    justify-content: space-between;
}

.rightdiv,
.leftdiv {
    flex: 1;
}

#herosectionIMG {
    position: relative;
    bottom: 0;
    top: 100px;
}

.leftdiv {
    padding-left: 110px;
}

.DineEase-landsection {
    padding: 80px;
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: 100%;
    place-items: CENTER;
    z-index: 10;
}

.heroMaindiv {
    position: relative;
    overflow: hidden;
}

.customShapes {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f6f9ff;
    clip-path: polygon(0 0, 100% 0, 100% 86%, 0 100%);
    z-index: 1;
}

.customShapesAngles {
    position: absolute;
    bottom: 10px;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.left {
    left: 0;
    bottom: 0px;
    height: 100px;
    width: 30%;
    clip-path: polygon(0% 33px, 100% 5px, 100% 100%, 0% 100%);
    background-color: #7c3aed;
    z-index: 3;
}

.right {
    bottom: 5%;
    right: 0;
    height: 130px;
    width: 40%;
    clip-path: polygon(0% 40px, 100% 0%, 100% 100%, 0% 100%);
    background-color: #cbb5f9;
    z-index: 4;
}

.rightTop {
    bottom: 15%;
    right: 0;
    height: 110px;
    width: 30%;
    clip-path: polygon(0% 40px, 100% 0%, 100% 100%, 0% 100%);
    background-color: #ede9fe;
    z-index: 4;
}

.right-bottom {
    bottom: 0;
    right: 0;
    height: 110px;
    width: 20%;
    clip-path: polygon(0% 15px, 100% 0%, 100% 100%, 0% 100%);
    background-color: #7c3aed;
    z-index: 5;
}

.DownCustomShapes {
    display: flex;
    position: relative;
    top: 0;
    width: 100%;
    background-color: #f6f9ff;
    z-index: 0;
}

.DownCustomShapes>.left {
    margin-bottom: 90px;
    left: 0;
    top: -40px;
    height: 120px;
    width: 20%;
    clip-path: polygon(0% 0, 100% 0, 100% 76%, 0% 100%);
    background-color: #ede9fe;
}

.DownCustomShapes>.right {
    bottom: -10px;
    right: 0;
    height: 150px;
    width: 16%;
    clip-path: polygon(0% 10%, 100% 0, 100% 60%, 0% 70%);
    background-color: #7c3aed;
}

.DownCustomShapes>.right-bottom {
    bottom: 0;
    right: 0;
    height: 110px;
    width: 20%;
    clip-path: polygon(0% 15px, 100% 0%, 100% 100%, 0% 100%);
    background-color: #7c3aed;
}

#herosection {
    position: relative;
    z-index: 100;
}

#herosectionH1 {
    font-size: 62px;
}

#herosectionP {
    font-size: 22px;
    color: #4d5765;
    padding-bottom: 20px;
}

#searchRestaurants {
    font-size: 16px;
    justify-content: center;
    align-items: center;
    display: flex;
    border: none;
    background-color: #7c3aed;
    color: white;
    padding: 20px;
    width: 230px;
    height: 50px;
    border-radius: 10px;
    margin-top: 20px;
}

#searchRestaurants img {
    padding-right: 20px;
}

#featuredRestaurantsMainDiv {
    margin-top: 200px;
}

#featuredRestaurants {
    margin-bottom: 80px;
}

.center {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

#featuredRestaurantsH1 {
    font-size: 48px;
    padding-left: 50px;
}

#featuredRestaurantsP {
    font-size: 22px;
    padding-left: 50px;
    padding-bottom: 20px;
    color: #202735;
}

.cardDiv {
    display: flex;
    flex-direction: row;
}

.card {
    display: flex;
    max-width: 360px;
    flex-direction: column;
    margin: 5px;
    box-shadow: 1px 1px 5px #d4d4d4;
    border-radius: 6px;
    padding: 16px;
}

.cardImage img {
    width: 100%;
    height: 200px;
    border-radius: 5px;
}

.cardRestaurantnameAndRate {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: end;
    margin-bottom: 0;
    height: 50px;
}

.ratedInStar {
    justify-content: center;
    align-items: center;
    margin-top: 22px;
}

.gray {
    filter: grayscale(100%);
}

.cardDescription>p {
    font-size: 1.1rem;
    color: #686868;
    font-weight: 500;
}

.cardfooter {
    color: #7c3aed;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    text-align: right;
}

#testimonials {
    background-color: #ede9fe;
    background-repeat: repeat;
    max-width: 100%;
    height: 400px;
    max-height: 100%;
    padding: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#testimonialsSharedCardStorage {
    padding-top: 60px;
    display: block;
    justify-content: center;

}

#testimonialsHeaderSharedCard {
    height: 150px;
    width: 300px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
}

#testimonialsHeaderRightDiv {
    display: flex;
    align-items: right;
    justify-content: right;
}

.testimonialsHeaderDiv {
    height: 90%;
}

#testimonialsLeftDiv {
    max-height: 50%;
    flex: 1;
    background-image: url('../../assets/images/Quote mark.png');
    background-repeat: no-repeat;
    z-index: 0;
}

#testimonialsH1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    width: 55%;
    padding-left: 200px;
}

#testimonialsShortCard {
    width: 300px;
    max-width: 100%;
    text-wrap: wrap;
}

.testimonialsSharedCard {
    max-height: 200px;
    width: 400px;
    max-width: 100%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
    margin: 60px;
    overflow: hidden;
    padding: 20px;
    flex: 1;
}

.testimonialsSharedCard-content {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.testimonialsSharedCard-description {
    font-size: 18px;
    color: #151c2b;
}

.testimonialsSharedcardAuthor {
    font-weight: bold;
    font-size: 14px;
    bottom: 0;
}

#findRestaurantsContainer {
    margin: 40px;
}

#findRestaurantsInput {
    padding-left: 50px;
    background: url(../../assets/images/Search\ Iconvector.svg) no-repeat left;
    background-position-x: 10px;
    background-size: 36px;
    background-color: #f5f5f5;
    border: none;
    border-radius: 10px;
    height: 46px;
    width: 90%;
}

.findRestaurantsSimpeContainer {
    display: grid;
    grid-template-columns: 250px 36px 46px;
    justify-content: center;
}

.findRestaurantsSimpeContainer input {
    width: calc(100% - 1700px);
    background-color: #f5f5f5;
    color: #9e9e9e;
    height: 40px;
    border-radius: 10px;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
}

.findRestaurantsSimpeContainer input:active {
    width: 12%;
    background-color: #f5f5f5;
    color: #9e9e9e;
    height: 40px;
    border-radius: 10px;
    font-size: 16px;
    padding-left: 10px;
}

#findRestaurantsSimpleSearchCheckbox {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 30px;
    padding-left: 10px;
    border-radius: 10px;
}

.findRestaurantsSimpeContainer button {
    height: 100%;
    width: 46px;
    margin-left: 15px;
    border-radius: 8px;
    max-height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #ede9fe;
}

.findRestaurantsContainer {
    margin-bottom: 20px;
}

#findRestaurantsAdvancedContainer {
    display: none;
}

.hide {
    display: none !important;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked~#findRestaurantsAdvancedContainer {
    display: block;
    align-items: center;
    text-align: center;
}

input[type="checkbox"]:checked~#findRestaurantsAdvancedContainer input {
    background-color: #f5f5f5;
    margin: 5px;
    width: 10%;
    color: #9e9e9e;
    height: 41px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    padding-left: 20px;
}

input[type="checkbox"]:checked~#findRestaurantsAdvancedContainer p {
    font-size: 14px;
    font-weight: bold;
    color: #7c3aed;
    margin: 10px;

}

input[type="checkbox"]:checked~#findRestaurantsAdvancedContainer select {
    font-size: 16px;
    margin: 5px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    height: 45px;
    border-radius: 5px;
    width: 10%;
    color: #9e9e9e;
    padding: 10px 10px 10px 15px;
}

input[type="checkbox"]:checked~#findRestaurantsAdvancedContainer button {
    width: 43px;
    height: 43px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ede9fe;
    position: relative;
    top: 5px;
}

input[type="checkbox"]:checked~.findRestaurantsSimpeContainer {
    display: none;
}

.findRestaurantsAdvancedContainer {}

#findRestaurantsAdvancedSearchUpContainer>#selectRestaurantLocation {
    background: url(../../assets/images/Location\ Icon.png) no-repeat left;
    background-position-x: 10px;
    background-position-y: 10px;
    background-size: 20px;
    padding: 1.5px;
    padding-left: 40px;
    height: 40px;
    background-color: #f5f5f5;

}

.findRestaurantsCardDiv {
    display: flex;
    justify-content: center;
    max-width: 100%;
    margin-bottom: 40px;
}

.findRestaurantsCardDiv a {
    text-decoration: none;
    color: #884dee;
    font-weight: bold;
    font-size: 14px;
    float: right;
}

#findRestaurantsH1 {
    text-align: center;
    font-size: 48px;
}

#findRestaurantsP {
    font-size: 22px;
    color: #202735;
    text-align: center;
}

.card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0;
    height: 50px;
}

.card-header h2 {
    padding-left: 10px;
}

.card-header img {
    width: 25px;
    height: 25px;
    padding: 0px;
}

footer {
    background-color: black;
    color: white;
    padding: 50px 10px 50px 100px;
    text-align: left;
    position: relative;
    max-width: 100%;
    max-height: 100%;
    margin-top: auto;
}

footer>.container {
    display: grid;
    grid-template-columns: 50% 50%;
}

#footerleftdiv,
#footerrightdiv {
    position: relative;
    flex: 1;
}

#footerrightdiv {
    padding-right: 150px;
}

#footerrightdiv img {
    float: right;
    padding: 5px;
}

#footerrightdiv p {
    width: 120px;
    text-align: left;
    margin-left: auto;
    margin-right: 0;
}

#privacyGO {
    text-decoration: none;
    color: white;
}

#copyrightSmall {
    color: lightgray;
    font-size: small;
    padding-top: 20px;
}

.shapeCircle {
    height: 50px;
    width: 50px;
    background-color: #555;
    border-radius: 50%;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: black;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: black;
}

@media (max-width: 767px) {
    body {
        align-items: center;
        justify-content: center;
    }

    .navbar {
        padding-left: 40px;
    }


    .navbarlinks a {
        display: none;
    }

    .Sandwichmenu {
        display: inline-block;
    }

    .navbarlinks {
        width: 70%;
    }

    .menuTavtarto {
        display: inline-block;
        width: 40px;
    }

    .menuDropDown {
        left: 0;
        position: absolute;
        line-height: 30px;
        padding: 30px;
        background-color: white;
        text-align: right;
        border: 1px solid gray;
        border-radius: 5px;
        display: none;
    }

    .menuDropDown a {
        padding-top: 180px;
    }

    .Sandwichmenu:hover .menuDropDown {
        display: block;
    }

    .customShapes {
        display: none;
    }

    .DownCustomShapes {
        display: none;
    }


    .DineEase-landsection {
        padding: 30px;
        width: 100%;
        display: block;
        text-align: left;
        z-index: 10;
    }

    .leftdiv {
        padding: 0;
        width: 100%;
    }

    #herosection {
        min-height: 800px;
        position: relative;
        z-index: 100;
        margin-top: 50px;
    }

    #herosectionH1 {
        font-size: 48px;
        width: 100%;

        br {
            display: none;
        }
    }

    #herosectionP {
        font-size: 22px;
        color: #4d5765;
        padding-bottom: 20px;
    }

    #searchRestaurants {
        font-size: 16px;
        justify-content: center;
        align-items: center;
        display: flex;
        border: none;
        background-color: #7c3aed;
        color: white;
        padding: 20px;
        width: 230px;
        height: 50px;
        border-radius: 10px;
        margin-top: 20px;
    }

    #searchRestaurants img {
        padding-right: 20px;
    }

    .rightdiv {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 500px;
    }

    #herosectionIMG {
        max-width: 100%;
        max-height: 100%;
        display: block;
        margin: auto;
        border-bottom: 1px solid gray;
        top: 0;
    }

    #featuredRestaurantsMainDiv {
        margin-top: 0px;
        text-align: center;
    }

    .cardDiv {
        display: block;
    }

    .card {
        text-align: left;
        max-width: 500px;
        max-height: 700px;
    }

    #testimonials {
        height: 600px;
        padding: 100px 30px 30px 30px;
        display: block;
        background-color: #ede9fe;
        background-repeat: repeat;
        max-width: 100%;
    }

    #testimonials>.container {
        display: block;
        position: relative;
        height: 500px;
        align-items: center;
        justify-content: center;
    }

    #testimonials>.leftdiv {
        display: block;
        position: absolute;
    }

    #testimonials .rightdiv {
        height: 350px;
    }

    .testimonialsHeaderDiv {
        height: 200px;
    }

    #testimonialsHeaderRightDiv {
        display: block;
        height: 100%;
    }

    #testimonialsH1 {
        display: block;
        font-size: 18px;
        width: 100%;
        padding-left: 0px;
    }

    .testimonialsSharedCard {
        width: 90%;
        margin: 20px 20px 20px 20px;
    }

    #testimonialsShortCard {
        width: 90%;
    }

    #testimonialsHeaderSharedCard {
        width: 90%;
        height: 30%;
    }

    #testimonialsSharedCardStorage {
        padding-top: 0px;
    }

    input[type="checkbox"]:checked~#findRestaurantsAdvancedContainer {
        display: block;
    }

    #findRestaurantsAdvancedSearchUpContainer {
        position: relative;
        width: 100%;
        display: flex;
    }

    input[type="checkbox"]:checked~#findRestaurantsAdvancedContainer input {
        position: relative;
        background-color: #f5f5f5;
        margin: 5px;
        width: 30%;
        color: #9e9e9e;
        height: 41px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        padding-left: 20px;
        display: flex;
    }

    input[type="checkbox"]:checked~#findRestaurantsAdvancedContainer select {
        position: relative;
        font-size: 16px;
        margin: 5px;
        background-color: #f5f5f5;
        border: 1px solid #ccc;
        height: 45px;
        border-radius: 5px;
        width: 30%;
        color: #9e9e9e;
        padding: 10px 10px 10px 15px;
        display: flex;
        justify-content: center;
    }

    input[type="checkbox"]:checked~#findRestaurantsAdvancedContainer p {
        font-size: 14px;
        font-weight: bold;
        color: #7c3aed;
        margin: 10px;
        display: flex;
        position: relative;
        justify-content: center;
    }

    input[type="checkbox"]:checked~#findRestaurantsAdvancedContainer button {
        width: 43px;
        height: 43px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #ede9fe;
        position: relative;
        top: 5px;
    }

    #findRestaurantsAdvancedSearchDownContainer {
        flex: 1;
    }

    footer {
        width: 100%;
    }
}