html {
    min-height: 100dvh;
    font-family: Helvetica, sans-serif;
}

body {
    max-width: 100%;
    width: 100%;
    max-height: auto;
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

@media (max-width: 767px) {
    .navbarlinks {
        display: none;
    }

    .navbarlinks a {
        display: none;
    }
    
}

.navbar {
    display: flex;
    justify-content: left;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 5;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 80px;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    min-height: 60px;
    font-size: 16px;
}

.navbarlinks {
    display: flex;
    gap: 50px;
}

.navbarlinks a {
    text-decoration: none;
    color: #121212;
    font-weight: 550;
}

#homeHyper {
    margin-left: 30px;
}

#PrivacyPolicySection {
    width: 100%;
}

.privacyMain {
    padding: 80px;
}

#firsPrivacyParagraph {
    padding-bottom: 20px;
}

#privacyH1 {
    font-weight: bold;
    font-size: 54px;
}

.privacyMain h4 {
    font-size: 16px;
    font-weight: bold;
}

.privacyMain p {
    padding: 0;
    font-size: 14px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.rightdiv,
.leftdiv {
    flex: 1;
}

#privacyH4 {
    padding-top: 20px;
    padding-bottom: 0px;
}

#lastPrivacyParagraph {
    padding-top: 50px;
    padding-bottom: 5px;
}

footer {
    background-color: black;
    color: white;
    padding: 50px 10px 50px 100px;
    text-align: left;
    position: relative;
    max-width: 100%;
    max-height: 100%;
    margin-top: auto;
    bottom: 0;

}

footer>.container {
    display: grid;
    grid-template-columns: 50% 50%;
}

#footerleftdiv,
#footerrightdiv {
    position: relative;
    flex: 1;
}

#footerrightdiv {
    padding-right: 150px;
}

#footerrightdiv img {
    float: right;
    padding: 5px;
}

#footerrightdiv p {
    width: 120px;
    text-align: left;
    margin-left: auto;
    margin-right: 0;
}

#privacyGO {
    text-decoration: none;
    color: white;
}

#copyrightSmall {
    color: lightgray;
    font-size: small;
    padding-top: 20px;
}

.shapeCircle {
    height: 50px;
    width: 50px;
    background-color: #555;
    border-radius: 50%;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: black;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: black;
}